<form name="clienteForm"  #clienteForm="ngForm" (ngSubmit)="clienteForm.valid && alterCliente()">
  <div class="row">
    <div class="col-md-12">
     
      <div class="row">

        <div class="col-md-3">
          
          <label for="dateOfBirth" class="control-label">Fecha de Nacimiento</label> 
          <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
          
        </div>

        <div class="col-md-3">
          <label for="tipoIdentidad" class="control-label">Tipo de Identidad</label>
          <div class="input-group">
            <select class="form-control"
              #mySelect>
              <option class='option' 
              *ngFor='let dir of clienteTypesIdentity' 
              [value]="dir.Id">{{dir.descripcion}}</option>
            </select>
          </div>

        </div>
        <div class="col-md-3">
          <label for="identidad" class="control-label">Identidad</label> 
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-address-card"></i>
              </div>
            </div> 
            <input class="form-control" placeholder="Identidad" [(ngModel)]="Cliente.Identidad" appInputValidator="Letters"
                name="Identidad" required #Identidad="ngModel">
            
          </div> 
          
        </div>

        <div class="col-md-3">
          <label for="tipoEntidad" class="control-label">Tipo de entidad</label>
          <div class="input-group">
            <select class="form-control"
              #mySelect>
              <option class='option' 
              *ngFor='let dir of typesentity' 
              [value]="dir.Id">{{dir.descripcion}}</option>
            </select>
          </div>

        </div>
        

        <div class="col-md-3">
          <label for="Provincia" class="control-label">Provincia</label>
          <div class="input-group">
            <select class="form-control"
              #mySelect2>
              <option class='option' 
              *ngFor='let dir of provincias' 
              [value]="dir.provinciaId">{{dir.provincia}}</option>
            </select>
          </div>

        </div>
        <div class="col-md-3">
          <label for="Municipios" class="control-label">Municipios</label>
          <div class="input-group">
            <select class="form-control"
              #mySelect3>
              <option class='option' 
              *ngFor='let dir of municipios' 
              [value]="dir.MunicipioId">{{dir.Municipio}}</option>
            </select>
          </div>

        </div>
        <div class="col-md-3">
          <label for="Municipios" class="control-label">Sectores</label>
          <div class="input-group">
            <select class="form-control"
              #mySelect4>
              <option class='option' 
              *ngFor='let dir of sectores' 
              [value]="dir.SectorId">{{dir.Sector}}</option>
            </select>
          </div>

        </div>
      
        
       
       

      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <button name="submit" type="submit" class="btn btn-primary" [disabled]="!clienteForm.valid || processing">
            <span *ngIf="processing" class="spinner-border spinner-border-sm mr-1"></span>              
            Guardar
          </button>

   
        </div>
      </div>
      
    </div>
  </div>
 

</form>