<form name="clienteForm"  #clienteForm="ngForm" (ngSubmit)="clienteForm.valid && alterCliente()">
  <div class="row">
    <div class="col-md-12">
     
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="Nombre">Nombre</label> 
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-user"></i>
                </div>
              </div> 
              <input id="Nombre" name="Nombre" placeholder="Nombre del cliente" type="text" class="form-control" required="required">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          
          <label for="dateOfBirth" class="control-label">Fecha de Nacimiento</label> 
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div> 
            <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
          </div>
          
          
        </div>

        <div class="col-md-3">
          <label for="tipoIdentidad" class="control-label">Tipo de Identidad</label>
          <div class="input-group">
            <select class="form-control"
              #mySelect>
              <option class='option' 
              *ngFor='let dir of clienteTypesIdentity' 
              [value]="dir.Id">{{dir.descripcion}}</option>
            </select>
          </div>

        </div>
        <div class="col-md-3">
          <label for="identidad" class="control-label">Identidad</label> 
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-address-card"></i>
              </div>
            </div> 
            <input class="form-control" placeholder="Identidad" [(ngModel)]="Cliente.Identidad" appInputValidator="Letters"
                name="Identidad" required #Identidad="ngModel">
            
          </div> 
          
        </div>

        

      <div class="col-md-12 mt-4 mb-2">
       
        <div class="card card-outline card-primary">
          <div class="card-header">
            Datos de Contacto
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" (click)="openModal(modalContactos)">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <table class="table table-condensed table-responsive-md">
              <thead>
                <tr>
                  <th>Tipo de Entidad</th>
                  <th>Tipo de Contacto</th>
                  <th>Descripcion</th>
                  <th >Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of listacontactos">
                  <td>{{c?.TipoEntidad}}</td>
                  <td>{{c?.TipoContacto}}</td>
                  <td>{{c?.Descripcion}}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-warning">
                      <i class="fas fa-pencil-alt"></i>
                    </button> 
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-danger">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                
              </tbody>
            </table>
            
          </div>
          
        </div>
        <div class="card card-outline card-primary">
          <div class="card-header">
            Datos de vivienda
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" (click)="openModal(modalDireccion)">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <table class="table table-condensed table-responsive-md">
              <thead>
                <tr>
                  <th>Comentario</th>
                  <th>Calle</th>
                  <th style="width: 40px">Numero</th>
                  <th style="width: 50px">Edificio</th>
                  <th style="width: 40px">Apto</th>
                  <th>Sector</th>
                  <th>Municipio</th>
                  <th>Provincia</th>
                  <th>Pais</th>
                  <th style="width: 70px">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of listadoDirecciones">
                  <td>{{d?.Comentario}}</td>
                  <td>{{d?.calle}}</td>
                  <td>{{d?.Numero}}</td>
                  <td>{{d?.Edificio}}</td>
                  <td>{{d?.Apto}}</td>
                  <td>{{d?.Sector}}</td>
                  <td>{{d?.Municipio}}</td>
                  <td>{{d?.Provincias}}</td>
                  <td>{{d?.Pais}}</td>
                  <td class="d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-warning">
                      <i class="fas fa-pencil-alt"></i>
                    </button> 
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-danger">
                      <i class="fas fa-trash"></i>
                    </button>                   
                  </td>
                </tr>
                
                
              </tbody>
            </table>
            
          </div>
        </div>
        
      </div>
        
       
       

      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button name="submit" type="submit" class="btn btn-info float-right" [disabled]="!clienteForm.valid || processing">
            <span *ngIf="processing" class="spinner-border spinner-border-sm mr-1"></span>              
            <i class="fas fa-save"></i> Guardar Registro
          </button>

   
        </div>
      </div>
      
    </div>
  </div>
 

</form>

<ng-template #modalContactos>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Contacto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-cliente-contactos (getListContactos)="getDatosContactos($event)">
      cargando formulario de contactos
    </app-cliente-contactos>
  </div>
  
</ng-template>

<ng-template #modalDireccion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Direccion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-cliente-direcciones (getListaDirecciones)="getDatosDirecciones($event)">
      Cargando formulario de direcciones
    </app-cliente-direcciones>
  </div>
  
</ng-template>