

<table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" *ngIf="items$ | async as items">
  <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of items" [item]="item">
        <td>
          {{ item.title }}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          <button class='btn btn-primary btn-block' type='button' (click)="edit()"><i class="fa fa-edit"></i></button>
        </td>
        <td>
          <button class='btn btn-danger btn-block' type='button' (click)="delete()"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
  </tbody>
</table>
